<!-- static/donate.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--Head-->
{% include 'components/head.html' %}
{% block head %} {% endblock %}

<body class="gradient leading-relaxed tracking-wide flex flex-col flex-grow h-max">
    <!--Header-->
    {% include 'components/header.html' %}
    {% block header %} {% endblock %}

    {% include 'components/messages.html' %}

    <!--Content-->
    <div class="px-4 pt-24">
        <div>
            <h1 class="my-4 text-2xl md:text-3xl lg:text-5xl font-black leading-tight text-center">
                Donate
            </h1>
        </div>
        <div class="flex justify-center">
            <p class="leading-normaltext-gray-800 text-base md:text-xl lg:text-xl mb-8 text-center">
                Wanting to donate an item to one of the listed charities, and can't determine which? <br>Well, select one of the buttons below, and we'll direct you to the closest one based on your input.
            </p>
        </div>
    </div>

    {% include 'components/body-wave.html' %}
    {% block wave %} {% endblock %}

    <!--Footer-->
    {% include 'components/footer.html' %}
    {% block footer %} {% endblock %}
</body>
<script src="{% static 'js/navbar.js' %}"></script>

</html>